@using CardGameLib;
@model GameViewModel
@{
    ViewData["Title"] = "Card Game";

    bool HasTurn = Model.Game.CurrentPlayer == Model.You;
}

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h3>Table</h3>
            @if (HasTurn)
            {

                <div class="row cardtable">

                    <a href="@Url.Action("PickUp","Game",new {PlayerAction=PlayerAction.TakeFromDeck, Id=Model.Game.GameId, PlayerId=Model.You.Guid.ToString() })">
                        <img src="~/images/Cards/back.png" class="card selectablecard" />
                    </a>
                    <a href="@Url.Action("PickUp","Game",new {PlayerAction=PlayerAction.TakeFromTable, Id=Model.Game.GameId, PlayerId=Model.You.Guid.ToString() })">
                        <img src="~/images/Cards/@Model.Game.Table.Last().FileName()" class="card selectablecard" />
                    </a>
                    @if (!Model.Game.Players.Any(p => p.HasKnocked))
                    {
                    <a href="@Url.Action("PickUp", "Game", new { PlayerAction = PlayerAction.Knock, Id = Model.Game.GameId, PlayerId = Model.You.Guid.ToString() })">
                        <img src="~/images/knock.png" class="card selectablecard" />
                    </a>
                    }


                </div>
            }
            else
            {
                <div class="row cardtable">
                    <img src="~/images/Cards/back.png" class="card" />
                    <img src="~/images/Cards/@Model.Game.Table.Last().FileName()" class="card" />
                </div>
            }

            <h3>Your hand (@Model.You.Hand.CalculateScore() points)</h3>

            <div class="row">
                @foreach (var c in Model.You.Hand)
                {
                    <img src="~/images/Cards/@c.FileName()" class="card" />
                }

            </div>
        </div>
        <div class="col-md-5">
            @if (HasTurn)
            {
            <h1 class="display-4">Your turn</h1>
            }
            else
            {
            <h1 class="display-4">@Model.Game.CurrentPlayer.Name turn</h1>
            }
            @if (!string.IsNullOrEmpty(Model.You.LastAction))
            {
            <p class="lead">You @Model.You.LastAction</p>
            }
            <hr />
            <partial name="_PlayerList" model="Model.Game" />
            <hr/>
            <a href="@Url.Action("Status",new {Id=Model.Game.GameId})" target="_blank">Status View</a>
        </div>

    </div>
</div>


<script>
    setTimeout(function () { window.location.reload(1); }, 5000);
</script>
